In [31]:
# Imports 
import pandas as pd
import sqlite3

In [21]:
# Working with and creating new database below for MOVIES
movies_db = sqlite3.connect('Movies.db')

In [24]:
## Creating cursor object, using cursor object to create new tables and add table data
cur = movies_db.cursor()
# cur.execute("CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER)")
# cur.execute("INSERT INTO movies VALUES ('Insterstellar', 'Science Fiction', 2014, 73)")
# cur.execute("INSERT INTO movies VALUES ('Pride and Prejudice', 'Novel', 2005, 87)")
# cur.execute("INSERT INTO movies VALUES ('Inception', 'Science Fiction', 2010, 87)")
# cur.execute("INSERT INTO movies VALUES ('Barbie', 'Comedy', 2023, 88)")
cur.execute("INSERT INTO movies VALUES ('Good Will Hunting', 'Drama', 1996, 97)")

In [25]:
# Read table data
cur.execute("SELECT * FROM movies").fetchall()

[('Insterstellar', 'Science Fiction', 2014, 73),
 ('Pride and Prejudice', 'Novel', 2005, 87),
 ('Inception', 'Science Fiction', 2010, 87),
 ('Barbie', 'Comedy', 2023, 88),
 ('Good Will Hunting', 'Drama', 1996, 97)]

In [26]:
# Update table data - There was a typo for the release year of Good Will Hunting, lets update this!
update_release_year = 1997
movie_to_update = 'Good Will Hunting'
cur.execute("UPDATE movies SET release = ? WHERE title = ?", (update_release_year, movie_to_update))

In [27]:
# Verify Update
cur.execute("SELECT * FROM movies").fetchall()

[('Insterstellar', 'Science Fiction', 2014, 73),
 ('Pride and Prejudice', 'Novel', 2005, 87),
 ('Inception', 'Science Fiction', 2010, 87),
 ('Barbie', 'Comedy', 2023, 88),
 ('Good Will Hunting', 'Drama', 1997, 97)]

In [29]:
# Delete table data
movie_to_delete = 'Inception' # Too many sci fi movies!
cur.execute("DELETE FROM movies WHERE title = ?", (movie_to_delete,))

In [30]:
# Confirm movie deleted!
cur.execute("SELECT * FROM movies").fetchall()

[('Insterstellar', 'Science Fiction', 2014, 73),
 ('Pride and Prejudice', 'Novel', 2005, 87),
 ('Barbie', 'Comedy', 2023, 88),
 ('Good Will Hunting', 'Drama', 1997, 97)]