In [1]:
# Imports 
import pandas as pd
import numpy as np
import sqlite3

In [5]:
# connection = sqlite3.connect('data/chapter-examples.db')
# cursor = connection.cursor()

# print(connection.total_changes)

In [6]:
# Creating a new Database called aquarium.db
# new_db = sqlite3.connect('aquarium.db')

In [ ]:
Testing Connection
# print(new_db.total_changes)

In [ ]:
# Create a new cursor object that allows SQL statements to be run against the database
# cursor = new_db.cursor()
# cursor.execute("CREATE TABLE fish (name TEXT, species TEXT, tank_number INTEGER)")

In [ ]:
# cursor.execute("INSERT INTO fish VALUES ('John', 'Great White', 1)")
# cursor.execute("INSERT INTO fish VALUES ('Mary', 'Killer Whale', 7)")

In [ ]:
# cursor.execute("SELECT * FROM fish").fetchall()

In [ ]:
# the_fish_we_want = "Mary"
# cursor.execute("SELECT * FROM fish WHERE name = ?", (the_fish_we_want,),).fetchall()

In [ ]:
# Updating data using the cursor object
# new_tank = 7
# moved_fish_name = "John"
# cursor.execute("UPDATE fish SET tank_number = ? WHERE name = ?", (new_tank, moved_fish_name))

In [ ]:
# cursor.execute("SELECT * FROM fish").fetchall()

In [3]:
##### Working with and creating new database below for MOVIES
movies_db = sqlite3.connect('Movies.db')

In [8]:
cur = movies_db.cursor()
cur.execute("CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER)")

OperationalError: table movies already exists

In [9]:
cur.execute("SELECT * FROM movies").fetchall()

[]